/* Colors */
.primary {
  color: #1a1f3029 !important;
}

.secondary {
  color: #D17128 !important;
}

.dark {
  color: #d2d3d6 !important;
}

.yellow {
  color: #FF9900 !important;
}

.dark-text {
  color: #EBEBEB !important;
}

.sky {
  color: #C3E4FF !important;
}

.bg-primary {
  background-color: #152F45 !important;
}

.bg-yellow {
  background-color: #FF9900 !important;
}

.bg-primary-neo {
  background-color: #1a1f3029 !important;
}

.bg-dark {
  background-color: #d2d3d6 !important;
}

.bg-secondary {
  background-color: #D17128 !important;
}

.bg-sky {
  background-color: #C3E4FF !important;
}

.border-secondary {
  border-color: #D17128 !important;
}

.border-yellow {
  border-color: #FF9900 !important;
}

/* Text Size  */
.text-48 {
  font-size: 48px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-20 {
  font-size: 20px !important;
}

.text-40 {
  font-size: 40px !important;
}

.text-16 {
  font-size: 16px !important;
}
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-400 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-500 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-600 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-700 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

/* Animation */
.underline-hover:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.animate {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scale:hover {
  transform: scale(1.1) !important;
}

.translate:hover {
  transform: translateY(-0.50rem) !important;
}

/* Header */
.dropdown-item:hover {
  background-color: #d2d3d6 !important;
}

.dropdown-item:active {
  background-color: #1a1f3029 !important;
}

.down-arrow {
  width: 25px;
}

.logoWidth {
  width: 50% !important;
}

.toggleMenu {
  position: absolute !important;
}

@media (min-width: 576px) {
  .toggleMenu {
    width: 300px !important;
  }
}

@media (min-width: 768px) {
  .logoWidth {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .toggleMenu {
    position: static !important;
    background-color: transparent !important;
    width: 75% !important;
  }
}

/* Home  */
.hero {
  height: 760px !important;
}

.heroDots {
  bottom: 10% !important;
  top: 20% !important;
}

.blueDots {
  left: 92%;
  top: 10px;
}

.bluePart {
  width: 9%;
}

.mySlide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroImg {
  width: 100% !important;
}

.swiper-pagination {
  bottom: -20px;
}

.swiper-pagination-bullet {
  background-color: #FFFFFF33 !important;
  width: 20px;
  height: 9px;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #FF9900 !important;
  width: 20px;
  height: 7px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero {
    height: 800px !important;
  }

  .heroImg {
    width: 80% !important;
    padding-top: 50px;
  }
}

@media (max-width: 540px) {
  .heroImg {
    width: 150% !important;
    padding: 0 80px;
  }
}

@media (max-width: 1200px) {
  .blueDots {
    top: 5%;
    left: 85%;
  }

  .bluePart {
    width: 15%;
  }
}

/* Banner */
.banner {
  width: 750px;
  padding: 0 10px;
}

@media (max-width: 750px) {
  .banner {
    width: 100%;
  }
}

/* About */
.section {
  padding: 150px 0;
}

.aboutBtn:hover {
  background-color: #D17128 !important;
  color: white !important;
}

.aboutBox {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.aboutBox:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}