/* Colors */
.main {
  color: #1a1f3029 !important;
}

.second {
  color: #D17128 !important;
}

.darken {
  color: #d2d3d6 !important;
}

.blue {
  color: #114B7C !important;
}

.darken-main {
  color: #071A2B !important;
}

.slate {
  color: #A0A4AD !important;
}

.yellow {
  color: #FF9900 !important;
}

.sky {
  color: #C3E4FF !important;
}

.dark-50 {
  color: #EBEBEB !important;
}

.dark-100 {
  color: #FBFBFB !important;
}

.dark-300 {
  color: #D2D3D6 !important;
}

.dark-600 {
  color: #585C67 !important;
}

.dark-700 {
  color: #374151 !important;
}

.bg-main {
  background-color: #152F45 !important;
}

.bg-yellow {
  background-color: #FF9900 !important;
}

.bg-main-neo {
  background-color: #1a1f3029 !important;
}

.bg-darken {
  background-color: #d2d3d6 !important;
}

.bg-darken-main {
  background-color: #071A2B !important;
}

.bg-second {
  background-color: #D17128 !important;
}

.bg-sky {
  background-color: #C3E4FF !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border-main {
  border-color: #1a1f3029 !important;
}

.border-second {
  border-color: #D17128 !important;
}

.border-yellow {
  border-color: #FF9900 !important;
}

.border-transparent {
  border-color: transparent !important;
}

/* Text Size  */
.text-48 {
  font-size: 48px !important;
}

.text-18 {
  font-size: 18px !important;
}

.text-14 {
  font-size: 14px !important;
}

.text-24 {
  font-size: 24px !important;
}

.text-20 {
  font-size: 20px !important;
}

.text-40 {
  font-size: 40px !important;
}

.text-16 {
  font-size: 16px !important;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-400 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-500 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-600 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

.inter-700 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
}

/* Animation */
.underline-hover:hover {
  text-decoration: underline !important;
  text-underline-offset: 7px !important;
  filter: brightness(1.4);
}

.animate {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.scale:hover {
  transform: scale(1.1) !important;
}

.translate:hover {
  transform: translateY(-0.50rem) !important;
}

/* Global */
.section {
  padding: 150px 0;
}

.w-5 {
  width: 5% !important;
}

.w-7 {
  width: 7% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.h-60 {
  height: 60% !important;
}

.h-40 {
  height: 40% !important;
}

/* Header */
.dropdown-item:hover {
  background-color: #d2d3d6 !important;
}

.dropdown-item:active {
  background-color: #1a1f3029 !important;
}

.down-arrow {
  width: 25px;
}

.logoWidth {
  width: 200px !important;
}

.toggleMenu {
  position: absolute !important;
  width: 100% !important;
}

@media (min-width: 576px) {
  .toggleMenu {
    width: 300px !important;
  }
}

@media (min-width: 768px) {
  .logoWidth {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .toggleMenu {
    position: static !important;
    background-color: transparent !important;
    width: 75% !important;
  }
}

/* Home  */

/* Hero */
.hero {
  height: 760px !important;
}

.heroDots {
  bottom: 10% !important;
  top: 20% !important;
}

.blueDots {
  left: 92%;
  top: 10px;
}

.bluePart {
  width: 9%;
}

.mySlide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-48-responsive {
  font-size: 48px !important;
}

.heroImg {
  width: 100% !important;
}

.swiper-pagination {
  bottom: -20px;
}

.swiper-pagination-bullet {
  background-color: #FFFFFF33 !important;
  width: 20px;
  height: 9px;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #FF9900 !important;
  width: 20px;
  height: 7px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero {
    height: 800px !important;
  }

  .heroImg {
    width: 80% !important;
    padding-top: 50px;
  }

  .text-48-responsive {
    font-size: 38px !important;
  }
}

@media (max-width: 540px) {
  .heroImg {
    width: 150% !important;
    padding: 0 80px;
  }

  .text-48-responsive {
    font-size: 28px !important;
  }
}

@media (max-width: 1200px) {
  .blueDots {
    top: 5%;
    left: 85%;
  }

  .bluePart {
    width: 15%;
  }
}

/* Banner */
.banner {
  width: 750px;
  padding: 0 10px;
}

@media (max-width: 750px) {
  .banner {
    width: 100%;
  }
}

/* About */
.aboutBtn:hover {
  background-color: #D17128 !important;
  color: white !important;
}

.aboutBox {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.aboutBox:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

/* Portfolio */
.achiImg {
  width: 80px !important;
}

/* News And Updates */
.newsSect {
  display: table;
  background: linear-gradient(#05223AE5, #072742, #052037E5 ), url('/images/essentials/newsBg.png');
  background-position: center top;
}

/* Events */
.eventsBtn:hover {
  background-color: #FF9900 !important;
  color: white !important;
}

.icons {
  width: 20px !important;
}

.fixedImg {
  width: 72px !important;
}

/* Sponsers */
.logo-slider {
  overflow: hidden;
  width: 100%;
}

.logos {
  display: flex;
  transition: transform 0.5s ease-in-out;
  cursor: grab;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.logo {
  flex: 0 0 auto;
  width: 180px; /* Adjust the width as needed */
  box-sizing: border-box;
  padding: 10px;
  scroll-snap-align: start;
}

.logo img {
  width: 100%;
  height: auto;
}

/* CTA */
.ctaSect {
  display: table;
  background: url('/images/essentials/ctaBg.png'), #114B7C;
  background-position: center center;
}

/* Footer */
.footer-dots {
  right: -300px !important;
  bottom: 5px !important;
}

.footer-padi {
  padding: 100px 0;
}