{{ define "main" }}
{{/* Hero Section */}}
<section class="hero teamSect d-flex justify-content-center align-items-center position-relative"
    style="background: radial-gradient(#063053e5, #062e52e5), url('/images/essentials/gnpBg.png');">
    <h1 class="inter-700 text-48 text-white text-center z-4">{{ .Title | markdownify }}</h1>
    <div class="position-absolute ellipses">
        <img src="/images/essentials/ellipses.png" alt="" class="ellipseW">
    </div>
</section>
{{/* End Hero Section */}}

{{/*  Sponsered Projects Section  */}}
<section class="section bg-dark-100">
    <div class="container-lg">
        <h3 class="inter-700 text-48 dark-900 mb-5">Kavli Sponsored Projects</h3>
        <div>
            <h4 class="inter-500 text-24 dark-900">Kavli Seed Grant Program</h4>
            <p class="inter-400 text-16 dark-700"><a href="">The Kavli Foundation</a> has provided seed grants to aid labs in standardizing their experimental data using the NWB data format. Funds were used to support the building and sharing of data or software in the NWB:N ecosystem. We are no longer accepting applications for 2022 and 2023.</p>
        </div>
        <p class="inter-600 text-16 dark-900 mb-5">Recent seed grant awardees include:</p>

        <div class="row justify-content-center justify-content-md-between">
            <div class="d-none d-md-flex flex-column row-gap-2" style="width: 102px;">
                {{ range .Params.sponsers }}
                <a href="" class="border border-dark-50 py-2 bg-white rounded-3 text-center nav-link animate">
                    <span class="lighter animate inter-600 text-16">{{ .year }}</span>
                </a>
                {{ end }}
            </div>

            <div class="col-sm-10 col-md-10">
                <div class="d-inline-block">
                    <li class="second dateLi"><span class="bg-white inter-500 text-16 blue px-3 rounded-3 border border-dark-50">2023</span></li>
                </div>
                <div class="bg-white rounded-3 p-3 ms-0 ms-sm-4 mt-3">
                    <li class="myLi"><span class="text-16 inter-400 dark-700"><a href="" class="inter-700 blue link-offset-2 sponserLink animate">Mark Histed</a>, and Adam Thomas, NIMH</span></li>
                    <i class="italic-400 text-14 dark-500 ms-4">Extending the NWB standard for holographic photo-stimulation</i>
                </div>
            </div>
        </div>
    </div>
</section>
{{/*  End Sponsered Projects Section  */}}
{{ end }}